<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130133429354-r95aoi0vkidi7nbq4muo61kmra87i6a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130133429354-r95aoi0vkidi7nbq4muo61kmra87i6a2</string>
	<key>API_KEY</key>
	<string>AIzaSyAfcDpcLax98u6Wv1CLSAv9ceqA3ATcA9A</string>
	<key>GCM_SENDER_ID</key>
	<string>130133429354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftbeta.App-H</string>
	<key>PROJECT_ID</key>
	<string>estacionamiento-1f782</string>
	<key>STORAGE_BUCKET</key>
	<string>estacionamiento-1f782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130133429354:ios:1aa596526242f8eadd4e13</string>
</dict>
</plist>